body {
  font-family: "Raleway", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

.header {
  background: rgb(71, 107, 136);
  /* TOP RIGHT BOTTOM LEFT */
  /* padding: 10px 30px 20px 15px; */
  padding: 15px 50px;
}

.nav {
  display: inline-block;
  width: 93%;
  margin-top: 2.5%;
  vertical-align: top;
}

.nav ul {
  padding-left: 0;
  text-align: justify;
}

.nav .nav_list li {
  display: inline-block;
  width: 20%;
  text-align: center;
  margin-left: -16px;
}

.nav_list a {
  text-decoration: none;
  color: #e8f1f0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 18px;
}

#img_logo {
  width: 6%;
}

/* /* .nav_list li:last-child a {
    color: #d09f5d; */

.nav_list li a[data-type="Blog"] {
  color: #d09f5d;
}

.nav_list a:hover {
  color: rgb(69, 67, 172);
}

.title {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.main {
  height: 250px;
  margin: 0 auto;
  padding-top: 12%;
  padding-left: 24%;
}
p {
  font-size: 14px;
}
section {
  display: inline-block;
  width: 240px;
  text-align: center;
  padding-right: 45px;
  padding-left: 45px;
  height: 200px;
}
.logo_img {
  margin: 0 auto;
}
a.logo_img {
  background: url(/img/icon_tablet.png);
  background-repeat: no-repeat;
  display: block;
  width: 71px;
  height: 69px;
}

a.logo_img:hover {
  background: url(/img/icon_back.png);
  background-repeat: no-repeat;
  width: 71px;
  height: 69px;
  display: block;
  animation: fade 0.5s linear forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
